html {
    min-height: 100%;
    position: relative;    
}
#carouselActividades img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: auto; /* Mantén la proporción de las imágenes */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
}

#carouselActividades {
    max-width: 350px; /* Ancho máximo deseado */
    height: 300px;    /* Altura deseada */
    margin: auto;     /* Centrar el carrusel */
    overflow: hidden; /* Evitar desbordamientos */
}
.carousel-control-prev, 
.carousel-control-next {
    border-radius: 50%; /* Hacer los botones redondos */
    margin-left: -23px; /* Mover el botón hacia el borde izquierdo */
    margin-right: -23px; /* Mover el botón hacia el borde derecho */
}

.table {
    width: auto; /* Permite que la tabla se ajuste al contenido */
    border-collapse: collapse; /* Elimina los espacios entre celdas */
    margin: 0 auto; /* Centra la tabla en el contenedor */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Evita que el contenido sobresalga en los bordes redondeados */
}

.table th, .table td {
    padding: 12px 16px; /* Aumenta el padding en las celdas para un mejor espacio */
    text-align: left; /* Alineación a la izquierda para las celdas */
    border: 1px solid #ddd; /* Añade un borde más suave para mejor visualización */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

.table th {
    background-color: #f39d50; /* Color de fondo para los encabezados */
    color: white; /* Color del texto para los encabezados */
    font-weight: bold; /* Negrita en encabezados */
}

.table tr:nth-child(even) {
    background-color: #f9f9f9; /* Color alternativo para filas pares */
}

.table tr:hover {
    background-color: #e0f7fa; /* Color de fondo al pasar el mouse */
}

.table td {
    font-size: 16px; /* Tamaño de fuente en las celdas */
    color: #333; /* Color del texto en celdas */
}

/* Media Queries para hacer las tablas más responsivas */
@media (max-width: 768px) {
    .table {
        width: 100%; /* Las tablas ocupan todo el ancho en pantallas pequeñas */
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto; /* El footer se empuja al final */
}