html {
    min-height: 100%;
    position: relative;    
}

#carouselExampleIndicators {
    max-width: 900px; /* Ancho máximo deseado */
    height: 500px;    /* Altura deseada */
    margin: auto;     /* Centrar el carrusel */
    overflow: hidden; /* Evitar desbordamientos */

    .carousel-control-prev, .carousel-control-next {
    border-radius: 50%; /* Hacer los botones redondos */
    margin-left: -23px; /* Mover el botón hacia el borde izquierdo */
    margin-right: -23px; /* Mover el botón hacia el borde derecho */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #df7718; /* Color del icono */
    border-radius: 50%; /* Hacer el icono redondo */
    padding: 5px; /* Espacio alrededor del icono */
}

}